header {
    background-color: lightblue;
}

#hTwo {
    color: lightpink;
     background-color: gray;
}

#hThree {
    color: gray;
     background-color: lightpink;
}

#info{
    border: 10px solid white;
}

img{

    max-width: 65%;
    max-height: 55%;

}